{% extends 'comAdmin/dashboard.html' %}

{% block content %}
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Add State Name</h1>
                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row">
                    
                    <form method="post" enctype="multipart/form-data">
                        {% if messages %}
                        <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
                        {% endif %}
                        {% csrf_token %}
                        <!-- <div class="mb-3 col-md-10">
                        <select name="country_id" class="form-control">
                        {% for entry in con_data %}
                        <option value="{{ entry.id }}">{{ entry.name }}</option> 
                        {% endfor %}
                        </select>
                        </div> -->
                        <div class="mb-3 col-md-10">
                            <label for="exampleInputEmail1" class="form-label">Enter State</label>
                            <input type="text" class="form-control" id="exampleInput" name="name" placeholder="Enter State">
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                          </div><br>

                      
                          
                          <div class="col-md-10 py-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                          
                          
                      </form>
                   
                </div>
     
</div>
</div>
{% endblock content %}