{% extends 'comAdmin/dashboard.html' %}

{% block content %}
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Edit City Name</h1>
                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row">
                    <form method="post">
                        {% if messages %}
                        <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
                        {% endif %}
                        {% csrf_token %}
                        <!-- <div class="mb-3 col-md-10">
                            <label for="exampleInputEmail1" class="form-label">Select Country</label>
                            <select name="country_id" class="form-control">
                            {% for entry in mycountry %}
                            <option value="{{ entry.id }}">{{ entry.name }}</option> 
                            {% endfor %}
                            </select>
                        </div> -->
                        
                            <div class="mb-3 col-md-10">
                                <label for="exampleInputEmail1" class="form-label">Select State</label>
                                <select name="state_id" class="form-control">
                                    <option value="{{ data2.st_id }}">{{ data2.st_id }}</option>
                                {% for entry in con_data %}
                                <option value="{{ entry.id }}">{{ entry.name }}</option> 
                                {% endfor %}
                                </select>
                                </div>
                        <div class="mb-3 col-md-10">
                            <label for="exampleInputEmail1" class="form-label">Enter Property</label>
                            <input type="text" class="form-control" id="exampleInput" name="name" value="{{ data2.name }}">
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                          </div><br>
                          
                          <button type="submit" class="btn btn-primary">Update Data</button>
                      </form>
                   
                </div>
     
</div>
</div>
{% endblock content %}
